@import "../scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

$primary: #555555;

/**********
SITE WIDE
**********/

.main-container {
    min-height: calc(100vh - 173px)
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 50px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

h4 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
}


.white-line {
    margin-top: 80px;
    margin-bottom: 20px;
    border: .5px solid white;
    margin-left: 400px;
    margin-right: 400px;
}

.dark-line {
    border-bottom: 6px solid rgb(0, 0, 0);
    max-width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.line {
    margin-left: 400px;
    margin-right: 400px;
}

.sm-line {
    max-width: 50px;
}

.text-danger {
    font-size: 16px !important;
    font-weight: 300 !important;
}

.sm-btn {
    font-size: 16px !important;
    font-weight: 300 !important;
    color: $primary;
}

.small-img {
    max-height: 50px;
}

.med-img {
    max-height: 200px;
}

.dark-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    background-color: #555555;
    border-color: #454545;
    max-width: 230px;

    a {
        color: white;
        text-decoration: none;
    }

    .btn:hover {
        color: #2f4f4f;
    }
}

.light-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    color: #454545;
    background-color: #ffffff;
    border-color: #454545;
    max-width: 230px;
    
    a {
        color: #454545;
        text-decoration: none;
    }

    .btn:hover {
        color: #2f4f4f;
    }
}

a {
    text-decoration: none;
    color: #7e7e7e;
}

.align-center {
    margin-left: 100px;
    margin-right: 100px;
}

.big-icons {
    font-size: 80px;
    a {
        text-decoration: none;
    }
}
.big-icons:hover {
    color:rgb(39, 48, 47)
}
.sm-icons {
    font-size: 40px;
    a {
        text-decoration: none;
    }
}
.sm-icons:hover {
    color:rgb(39, 48, 47)
}

.srch {
    border: none;
}

/**********
NAV BAR
**********/

.navbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 3;
    letter-spacing: 1px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 999;

    a:hover {
        color: #7e7c7c;
    }

    .dropdown-menu {
        padding: 0;
    }

    .dropdown-item {
        border-bottom: 1px solid $gray-200;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(148, 147, 147);
}


/**********
HERO BANNER
**********/

.hero-banner {
    background-image: url(/images/grass.jpg);
    background-position: center;
    background-repeat: none;
    overflow: hidden;
    background-size: cover;
    padding: 120px;
    min-height: 800px;
}

.header-text {
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.sm-container {
    max-width: 600px;
}

.med-container {
    max-width: 800px;
}

/********
FOOTER
********/

.footer {
    background: #555555;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

.icons {
    letter-spacing: 5px;
    font-size: 20px;
    color: rgb(157, 155, 155);
}

.icons:hover {
    color:rgb(255, 255, 255)
}

.blk-txt {
    color: black;
}

/********
TABS
********/

.tabContainer {
    border: none;
}

.tabContainer .tab {
    display: none;
}

.tabContainer .tab.active {
    display: block;
}

.tabClicker.btn.active {
    border-bottom: 2px solid rgb(0, 0, 0);
    color: #3f6a6a;
}

.btn-text {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 40px;
}

/**********
FORMS
**********/

.center-form {
    max-width: 800px;
    margin: auto;
}

/**********
MEMBERS
**********/


.square-img {
    position: relative;
    padding-top: 100%;
    overflow: hidden;

    img {
        position: absolute;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
    }
}

/**********
ARTICLES AND PAGINATION
**********/

.page-link {
    color: #555555;
}

.page-link:hover {
    color: #a9a9a9;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #555555;
    border-color: #555555;
}

/**********
RESPONSIVE SIZING
**********/



